#Compiled and generated classes
__pycache__/
*.pyc
*.pyo
*.pyd

#PyCharm project files
.idea/

#Distribution/build directory
build/
dist/

#LaTex generated & temp files
*.aux
*synctex.gz
*.synctex(busy)


