#Compiled and generated classes
__pycache__/
*.pyc
*.pyo
*.pyd

#PyCharm project files
.idea/

#Distribution/build directory
build/bdist.win32
build/doctrees
build/lib
build/scripts-2.7
dist/

#LaTex generated & temp files
*.aux
*synctex.gz
*.synctex(busy)
*.toc
*.log
*.lot
*.out

*.blg
*.bbl
*.lof